body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("https://media.giphy.com/media/TZf4ZyXb0lXXi/giphy.gif");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp, .goCrazy{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  background: yellow;
  width: 60px;
  height: 60px;
  position: absolute;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20eg);
}
.blinkyDancer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 60px;
    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}
.blinkyDancer:hover {
   transform: rotate(180deg);
}
.dancer1 {
    background-image: url("https://media.giphy.com/media/Luhluchykcec0/giphy.gif");
    height: 22%;
    width: 10%;
    position: absolute;
  }
.dancer1:hover {
   transform: scaleX(3);
   transform: scaleY(2);
}
.dancer2 {
  background-image: url("https://media.giphy.com/media/BetLyuCzghyww/giphy.gif");
  height: 27%;
  width: 14%;
  position: absolute;
}
.dancer2:hover {
   transform: scaleX(3);
}