body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://all4desktop.com/data_images/original/4238051-background.jpg");
  background-size: 1920px 1080px;
  background-repeat: no-repeat;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  background: yellow;
  width: 80px;
  height: 80px;
  position: absolute;
  text-align: center;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20eg);
}
.blinkyDancer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    background: red;
    -webkit-transform: rotate(135deg);
       -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
         -o-transform: rotate(135deg);
}
.dancer1 {
  box-shadow:
    0 0 0 1em blue,
    0 1em 0 1em blue,
    -2.5em 1.5em 0 .5em blue,
    2.5em 1.5em 0 .5em blue,
    -3em -3em 0 0 blue,
    3em -3em 0 0 blue,
    -2em -2em 0 0 blue,
    2em -2em 0 0 blue,
    -3em -1em 0 0 blue,
    -2em -1em 0 0 blue,
    2em -1em 0 0 blue,
    3em -1em 0 0 blue,
    -4em 0 0 0 blue,
    -3em 0 0 0 blue,
    3em 0 0 0 blue,
    4em 0 0 0 blue,
    -5em 1em 0 0 blue,
    -4em 1em 0 0 blue,
    4em 1em 0 0 blue,
    5em 1em 0 0 blue,
    -5em 2em 0 0 blue,
    5em 2em 0 0 blue,
    -5em 3em 0 0 blue,
    -3em 3em 0 0 blue,
    3em 3em 0 0 blue,
    5em 3em 0 0 blue,
    -2em 4em 0 0 blue,
    -1em 4em 0 0 blue,
    1em 4em 0 0 blue,
    2em 4em 0 0 blue;

    background: blue;
    width: 1em;
    height: 1em;
    overflow: hidden;
    position: absolute;
  }
.dancer2 {
  background-image: url("https://cdn0.iconfinder.com/data/icons/dance-fitness/72/11-128.png");
  height: 10%;
  width: 5%;
  position: absolute;
}